@font-face {
    font-family: 'MapoFlowerIsland';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
      background-image: url(tennis.jpg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size:cover;
}
#all{
      position: absolute;
      top: 30%;   
      left: 35%
}

  #pongTable {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 400px; /*테이블의 크기*/
  height: 300px;
  border: 4px solid rgb(255, 255, 255); /*테이블 선*/
  background-color: rgb(255, 255, 255);
  z-index: 1;
  opacity: 0.5;

  }

  #playerOne {
  position: absolute;
  top: 196px;
  left: 45px;
  width: 35px;
  height: 35px;
  background-image: url(tennis-racket.svg);
  background-size: cover;
  z-index: 2;
  }
  #playerTwo {
  position: absolute;
  top: 196px;
  left: 390px;
  width: 35px;
  height: 35px;
  background-image: url(tennis-racket.svg);
  background-size: cover;
  z-index: 2;
  }
  #ball {
  position: absolute;
  top: 160px;
  left: 210px;
  width: 10px;
  height: 10px;
  clip: rect(0px 10px 10px 0px);
  background-image: url(tennis-ball.svg);
  background-size: cover;
  z-index: 2;
  display: none;
  }

  #click {
  position: absolute;
  top: 160px;
  left: 27px;
  width: 400px;
  text-align: center;
  font-family: 'MapoFlowerIsland';
  font-size: 30px;
  z-index: 3;
  color: rgb(19, 19, 19);
  
  }
  #scores {
  position: absolute;
  top: 330px;
  left: 24px;
  width: 400px;
  font-family: 'MapoFlowerIsland';
  font-size: 25px;
  z-index: 3; 
  }
  
  @media( orientation: portrait ){
      html {
        transform: rotate(-90deg);
        transform-origin: top left;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100vh;
        height: 100vw;
      }
    }